.addToWishListDialog::backdrop {
  background-color: rgba(0, 0, 0, 0.397);
}
.addToWishListDialog[open] {
  position: fixed;
  width: 30%;
  height: 80%;
  animation: animate 200ms ease-in-out;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 5px 20px;
}
@keyframes animate {
  0% {
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  100% {
    height: 80%;
    width: 30%;
    opacity: 1;
  }
}

.wishListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  text-transform: capitalize;
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--white-light);
  margin-bottom: 10px;
  user-select: none !important;
}
.wishListItem > * {
  pointer-events: none !important;
}
.wishListItem:hover, .selected {
  background-color: var(--blue-500);
  color: white;
}

.wishListItem:hover .wishListCheckBox, .selected .wishListCheckBox {
  color: white;
}

.wishListCheckBox {
  scale: 1.3;
  color: var(--blue-500);
  transform: translateY(-1px) scale(1.3);
}
.scaleAnimate {
  animation: scale 50ms ease-in-out;
}
@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.wishlistCategories {
    height: calc(100% - 125px);
    overflow-y: auto;
}
.wishLishSaveButtonDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 10px;
}
.wishLishSaveButtonDiv button {
    background-color: var(--blue-500);
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    width: 100%;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.escBtn {
    position: absolute;
    right: 0.8rem;
    top: 4%;
    transform: translateY(-50%);
    padding: 0.8rem;
    background-color: var(--blue-500);
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
    color: white;
  }
  .tippy {
    z-index: 100000000 !important;
  }
  
  .escBtn > * { 
    scale: 1.5;
    transform: translateX(0.4px) scale(1.5);
  }