.body {
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.tabs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 5px;
}
.tab {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  padding: 8px 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.705);
}
.tab_active {
  border: none;
  background-color: var(--blue-500);
  transition: all;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}
.none {
  display: none;
}
