.body {
  background-color: rgba(0, 0, 0, 0.705);
  height: 100vh;
  padding: 10px 0px;
}
.row {
  display: flex;
  gap: 15px;
  padding: 0px 10px;
}
.searchInput {
  border: none;
  width: 80%;
  padding: 0px 10px;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  padding-top: 1px;
}
.searchInput:focus {
  border: none;
  outline: 3px solid red;
  background-color: rgba(255, 255, 255, 1);
}
.dropDown {
  background-color: rgba(255, 255, 255, 1);
  width: 600px;
  font-size: 1.6rem;
  font-weight: bold;
  user-select: none;
  border-radius: 10px;
  height: 100%;
}
.dropDownMenu {
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}
.dropDownMenu > * {
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  padding: 10px 25px;
}

.placeholder {
  padding: 10px;
  padding-right: 0;
  padding-left: 15px;
}
