.cart {
    margin: 80px 70px;
    display: grid;
    grid-template-columns: 70% auto;
    gap: 20px;
}

.shoppingTitleDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.content {
    padding: 30px;
    padding-top: 30px;
}
.selectAllBtn {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 8px;
    padding: 10px 15px;
    background-color: var(--blue-500);
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
.check {
    transform: scale(1.5);
    color: var(--blue-500);
    border-radius: 50%;
    color: white;
    /* cursor: pointer; */
    animation: scale 200ms ease-in-out;

  }
  
  @keyframes scale {
    0%   {
        scale: 0;
    }
    100% {
        scale: 1;
    }
  }