.main {
  display: grid;
  grid-template-columns: 75% auto;
}
.left {
  margin: 15px;
  width: 100%;
}
.title {
  margin-bottom: 10px;
}
.wishlistContent {
  padding: 0 !important;
  width: 100%;
}
.buttons {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--white-light);
  padding: 20px 30px;
  border-radius: 5px;
  gap: 10px;
}
.buttons button {
  font-size: 1.4rem;
  padding: 15px;
  min-width: 100px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--white-light);
}
.buttons button:first-of-type {
  border-radius: inherit;
}
.active {
  background-color: var(--blue-500) !important;
  color: white;
  font-weight: bold;
  font-size: 1.5rem !important;
}
.nextListBtn {
  /* display: none; */
}
.alllist {
  padding: 0px 15px;
  margin-top: 10px;
}
.itemNameDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  /* border-bottom: 1px solid var(--white-light); */
}
.itemButtons {
  display: flex;
  align-items: center;
  transform: translateX(5px);
}
.itemButtons button {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 1.6rem;
  font-weight: normal;
  padding: 10px 10px;
  border-radius: 5px;
  letter-spacing: 1px;
}
.itemButtons button:not(.arrowIconBtn):hover {
  background-color: var(--blue-500);
  color: white;
}
.itemName {
  font-size: 1.9rem;
  margin-left: 5px;
}
.imagesDiv {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 1px;
  padding-bottom: 20px;
  user-select: none;
}
.image {
  border-radius: 5px;
  cursor: pointer;
}
.image:hover {
  filter: brightness(1.1);
}

.eyeIcon {
  scale: 1.2;
  margin-right: 2px;
}
.emptyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 3px;
  padding-left: 5px;
}
.emptyList img {
  width: 100px;
  margin-bottom: 20px;
  scale: 1.02;
  transform: translateX(13px);
}
.emptyList h3 {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  color: rgb(34, 34, 34);
}
.emptyList p {
  padding: 0;
  margin: 0;
  color: rgb(34, 34, 34);
  font-size: 1.3rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
.arrowIconBtn {
  padding: 0;
  margin: 0;
}
.arrowIconBtn > * {
  pointer-events: none;
}
.arrowIcon {
  scale: 1.8;
  color: var(--blue-500);
}
.collapse {
  height: 60px;
  overflow: hidden;
  animation-name: heightAnimation;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
.collapse .arrowIcon {
  transform: rotate(180deg);
  animation-name: rotateAnimation;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes heightAnimation {
  0% {
    height: var(--wishlist-expand-collapse-max-height);
  }
  100% {
    height: var(--wishlist-expand-collapse-min-height);
  }
}

.expand {
  animation-name: heightAnimationExpand;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}
.expand .arrowIcon {
  transform: rotate(0deg);
  animation-name: rotateAnimationExpand;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes rotateAnimationExpand {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes heightAnimationExpand {
  0% {
    height: var(--wishlist-expand-collapse-min-height);
    overflow: hidden;
  }
  100% {
    height: var(--wishlist-expand-collapse-max-height);
    overflow: hidden;
  }
}

.hide {
  display: none !important;
  /* visibility: hidden;
  width: 0px !important;
  height: 0px !important;
  overflow: hidden !important;
  pointer-events: none !important;
  user-select: none !important;
  z-index: -1000; */
}
.noAnimation {
  animation: none !important;
}
.noAnimation * {
  animation: none !important;
}
.sticky {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  /* top: 65px; */
  top: 0;
  z-index: 1000;
  background-color: white;
  padding: 8px;
  border: none;
  width: 90%;
  transform: translateX(12%);
  animation: top;
  animation-duration: 200ms;
}
@keyframes top {
  0% {
    top: -20px;
  }
  100% {
    top: 0px;
  }
}

.scrollToTop {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: white;
  color: var(--blue-500);
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 6%);
  outline: 1px solid white;
}
.nextTabProductsDiv {
  padding: 15px 0;
}
.nextTabProductsDiv:not(:last-of-type) {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--white-light);
}

.nextTabProducts {
  /* display: grid;
  grid-template-columns: 150px auto; */
  display: flex;
  gap: 10px;
  user-select: text;
  overflow: hidden;
}
.nextTabProductsImage {
  min-width: 150px;
}
.nextTabProducts_right {
  padding: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
  width: 82%;
}
.nextTabProductsTitle {
  font-size: 1.6rem;
  overflow: hidden !important;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}
.nextTabProductsPrice {
  margin-top: 8px;
  font-size: 1.7rem;
}
.nextTabProductsButtons {
  display: flex;
  gap: 10px;
}
.nextTabProductsButtons button {
  background-color: var(--blue-500);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.3rem;
}
.nextTabProductsButtons button:hover {
  background-color: white;
  outline: 2px solid var(--blue-500);
  color: var(--blue-500);
}
.nextTabProductsButtons button:active {
  scale: 0.95;
  transition: all;
  transition-duration: 200ms;
}
.loaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
  display: none;
}
@media only screen and (max-width: 1000px) {
  .main {
  display: block;
  padding-right: 30px;
  }
  .right {
    display: none;
  }
}